.tracking-hotspot-wrapper {
  position: absolute;
  z-index: 100000;
  pointer-events: auto;
}

.tracking-hotspot {
  width: 10px;
  height: 10px;
  background: rgba(255, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.tracking-hotspot::after {
  content: " ";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: red;
  animation: pulse 1.5s infinite;
  opacity: 0.7;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.tooltip-content {
  background: #353535;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  max-width: 250px;
  height: auto;
  max-height: none;
  overflow: visible;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.chart-3 {
  background: oklch(0.7 0.25 260);
}

.chart-4 {
  background: oklch(0.78 0.22 330);
}

.chart-5 {
  background: oklch(0.74 0.24 85);
}

.chart-6 {
  background: oklch(0.74 0.24 300);
}

.chart-3.tracking-hotspot::after {
  background-color: oklch(66.163% 0.18374 253.923 / 0.7);
}

.chart-4.tracking-hotspot::after {
  background-color: oklch(0.78 0.22 330 / 0.7);
}

.chart-5.tracking-hotspot::after {
  background-color: oklch(0.74 0.24 85 / 0.7);
}

.chart-6.tracking-hotspot::after {
  background-color: oklch(0.6 0.24 300 / 0.7);
}

.tooltip-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.param-container {
  margin-top: 4px;
}

.param-text {
  font-size: 11px;
}

@media (prefers-color-scheme: dark) {
  .chart-3 {
    background: oklch(0.64 0.26 260);
  }

  .chart-4 {
    background: oklch(0.64 0.26 330);
  }

  .chart-5 {
    background: oklch(0.64 0.26 85);
  }

  .chart-6 {
    background: oklch(0.64 0.26 300);
  }

  .chart-3.tracking-hotspot::after {
    background-color: oklch(0.64 0.26 260 / 0.7);
  }

  .chart-4.tracking-hotspot::after {
    background-color: oklch(0.64 0.26 330 / 0.7);
  }

  .chart-5.tracking-hotspot::after {
    background-color: oklch(0.64 0.26 85 / 0.7);
  }

  .chart-6.tracking-hotspot::after {
    background-color: oklch(0.64 0.26 300 / 0.7);
  }
}
